<toaster-container toaster-options="{'toaster-id': 1, 
            'animation-class': 'toast-top-right'}">
</toaster-container>
<toaster-container toaster-options="{'toaster-id': 2, 
            'animation-class': 'toast-top-right'}">
</toaster-container>
<div class="admin-container">
  <aside-bar></aside-bar>
  <section class="ds-container">
    <div class="return-area">
      <a ng-href="#/admin" class="return-container">
        <img src="/app/assets/img/arrow.svg" alt="">
        <h4>Voltar</h4>
      </a>
      <h1>Gestores</h1>
      <h2></h2>
    </div>
    <a ng-href="#/admin/managers/new">
      <button class="btn btn-primary btn-insert">Adicionar novo Gestor</button>
    </a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">#</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="manager in $ctrl.managers">
          <th scope="row"><img src="{{manager.imgUrl}}" alt=""></th>
          <td>{{manager.id}}</td>
          <td>{{manager.name}}</td>
          <td>{{manager.email}}</td>
          <td><a ng-href="#/admin/managers/{{manager.id}}"><img src="/app/assets/img/edit.svg" alt=""></a></td>
          <td><img src="/app/assets/img/delete.svg" alt="" ng-click="$ctrl.selectToDelete(manager)"></td>
        </tr>
      </tbody>
    </table>
    <div class="dialog-background" ng-hide="$ctrl.warningVisible !== true">
      <div class="dialog-box">
        <div class="ds-form-card">
          <h2>Tem certeza?</h2>
          <div class="form-buttons">
            <button class="btn btn-outline-primary" ng-click="$ctrl.closeWarning()">Não</button>
            <button class="btn btn-outline-danger" ng-click="$ctrl.deleteManager($ctrl.manager)">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>