

<div class="admin-container">
    <aside-bar></aside-bar>
    <div class="update-sale-form-container ds-container">
        <h2>Cadastrar Nova Venda</h2>
        <div class="ds-form-card">
            <form action="">
                <div class="form-input">
                    <input 
                    type="text"
                    class="form-control base-input" 
                    placeholder="Visitas"  
                    name="visited" 
                    id="visited"
                    value="visited"
                    ng-model="$ctrl.sale.visited" 
                    required
                    />
                </div>
                <div class="form-input">
                    <input 
                    type="text" 
                    class="form-control base-input" 
                    placeholder="Vendas"  
                    name="deals" 
                    id="deals"
                    value="deals"
                    ng-model="$ctrl.sale.deals" 
                    required>
                </div>
                <div class="form-input">
                    <input 
                    type="text" 
                    class="form-control base-input" 
                    placeholder="Total"  
                    name="amount"
                    id="amount"
                    value="amount"
                    ng-model="$ctrl.sale.amount" 
                    required>
                </div>
                <button class="btn btn-success" ng-click="$ctrl.insertNewSale($ctrl.sale)" type="submit">Salvar</button>
                <button class="btn btn-danger" ng-click="$ctrl.returnToPageSales()">Cancelar</button>
            </form>
        </div>
    </div>
</div>