<section id="login-section" class="dsvendas-container">
    <div class="login-form-container">
        <form ng-submit="vm.authenticate()" ng-required="vm.user.username && vm.user.password" required>
            <h2>Login</h2>
            <div class="dsvendas-card dsvendas-form">
                <div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <input type="text" class="form-control base-input email" placeholder="Email" ng-model="vm.user.username"
                        required>
                </div>
                <div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <input type="password" class="form-control base-input password" placeholder="Email"
                        ng-model="vm.user.password" required>
                </div>
                <div class="dsvendas-login-form-buttons">
                    <input class="btn btn-primary login-submit" type="submit" value="Entrar">
                </div>
            </div>
        </form>
    </div>
</section>