.dsvendas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-container{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 10px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.login-form-container h2 {
    font-size: 30px;
    margin: 80px auto;
}

.dsvendas-card .password {
    margin-bottom: 80px;
}

.dsvendas-login-form-buttons .btn {
    width: 100%;
    font-size: 18px;
    margin-bottom: 80px;
}

@media (min-width:576px) {
    .login-form-container{
        margin: 20px 20px;
        width: 450px;
    }

    .login-form-container h2 {
        font-size: 35px;
    }

    .base-input{
        width: 350px;
    }
}

@media (min-width:768px) {
    .login-form-container{
    margin: 80px;
    }

    .dsvendas-login-form-buttons .btn {
        height: 50px;
    }
}