.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container h2 {
    margin: 20px 30px;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 260px;
}

.login-content-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 400px;
}

.login-content-container h2 {
    margin: 30px ;

}

.login-content-container label {
    display: block;
    text-align: left;
    margin-left: 50px;
}

.login-content-container input {
    margin-bottom: 30px;
}

.login-content-container .btn {
    display: block;
    margin-bottom: 50px;
    width: 100px;
}

@media (min-width:576px) {
    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .login-card {
        width:400px;
    }
}

@media (min-width:576px) {

    .login-card {
        width: 450px;
        margin: 30px;
    }
}

@media (min-width:992px) {

    .login-card {
        width: 700px;
        margin: 50px;
    }
}
