.sales-container h2 {
    margin: 20px 30px;
}

.sales-card {
    background-color: #FFF;
    margin:10px;
    padding: 10px;
    border-radius: 10px;
}

.sales-content-container{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dsvendas-sales-table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 11px;
}

.vendas-th {
    display: none;
}

.btn-select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 35px;
    font-size: 8px;
}

.btn-select p {
    margin-top: 15px;
}

.formulario-sales {
    display: flex;
    flex-direction: column;
}
