<div class="sales-container" id="dsvendas-container">
    <a href="#home">
        <div class="goback-container">
            <img src="/assets/img/arrow.svg" alt="">
            <h2>VOLTAR</h2>
        </div> 
    </a>
    <div class="sales-card">
        
        <div class="sales-content-container">
            <table class="table">
                <tr class="dsvendas-sales-table">
                    <th>
                        Id
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Visitas
                    </th>
                    <th>
                        Vendas
                    </th>
                    <th>
                        Total
                    </th>
                    <th class="vendas-th">
                        ID Vendedor
                    </th>
                    <th>
                        Vendedor
                    </th>
                    <th class="vendas-th">
                        ID Equipe
                    </th>
                    <th class="vendas-th">
                        Gestor
                    </th>
                </tr>
                <tr class="dsvendas-sales-table" ng-repeat="sale in vm.sales">
                    <td>{{sale.id}}</td>
                    <td>{{sale.date}}</td>
                    <td>{{sale.visited}}</td>
                    <td>{{sale.deals}}</td>
                    <td>{{sale.amount}}</td>
                    <td class="vendas-th">{{sale.sellerId}}</td>
                    <td>{{sale.sellerName}}</td>
                    <td class="vendas-th">{{sale.teamId}}</td>
                    <td class="vendas-th">{{sale.managerId}}</td>

                    <td>
                        <button href="#" class="btn-select btn btn-warning" ng-click="vm.SelectSale(sale)" ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN' || vm.USER_ROLE.authority == 'ROLE_MANAGER'">
                            <p>Selecionar</p>
                        </button>
                        
                    </td>
                </tr>
            </table>
                <div class="formulario-sales" ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN' || vm.USER_ROLE.authority == 'ROLE_MANAGER'">
                    <div>
                        <div class="form">
                            <label for="">Data da Venda</label>
                            <input type="text" ng-model="vm.sale.date" placeholder="Data Venda" ng-required="vm.sale.date">
                        </div>
                        <div class="form">
                            <label for="">Visitas</label>
                            <input type="text" ng-model="vm.sale.visited" placeholder="visitas" ng-required="vm.sale.visited">
                        </div>
                        <div class="form">
                            <label for="">Qtde Vendas</label>
                            <input type="text" ng-model="vm.sale.deals" placeholder="Qtde Vendas" ng-required="vm.sale.deals">
                        </div>
                        <div class="form">
                            <label for="">Total</label>
                            <input type="text" ng-model="vm.sale.amount" placeholder="Total" ng-required="vm.sale.amount>
                        </div>
                        
                        <div class="form">
                            <label for="">Cod Vendedor</label>
                            <input type="text" ng-model="vm.sale.sellerId" placeholder="Cod Vendedor" ng-required="vm.sale.sellerId">
                        </div>
                        <div class="form">
                            <label for="">Nome Vendedor</label>
                            <input type="text" ng-model="vm.sale.sellerName" placeholder="Nome Vendedor" ng-required="vm.sale.sellerName">
                        </div>
                        <div class="form">
                            <label for="">Cod Equipe</label>
                            <input type="text" ng-model="vm.sale.teamId" placeholder="Cod Equipe" ng-required="vm.sale.teamId">
                        </div>    
                    </div>
                </div>
                <div class="form-btn">
                    <button href="#" class="btn btn-success" ng-click="vm.InsertSale(sale)" ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN' || vm.USER_ROLE.authority == 'ROLE_MANAGER'">
                        Nova Venda
                    </button>
                    <button href="#" class="btn btn-primary" ng-click="vm.UpdateSale(sale)" ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN' || vm.USER_ROLE.authority == 'ROLE_MANAGER'">
                        Atualizar
                    </button>
                    <button href="#" class="btn btn-danger" ng-click="vm.DeleteSale(vm.sale)" ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN' || vm.USER_ROLE.authority == 'ROLE_MANAGER'">
                        Apagar
                    </button>
                </div>
        </div>
    </div>
</div>