.sales-container h2 {
    margin: 20px 30px;
}

.sales-card {
    background-color: #FFF;
    margin:10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.dsvendas-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-color: #5f6e82;
    
}

.dsvendas-table thead {
    height: 55px;
    font-size: 16px;
    color: #222222;
    font-weight: 700;
    text-align: center;
    
}

.dsvendas-table tbody {
    font-size: 14px;
    font-weight: 400;
    color:#222222; 
    text-align: center;
}

.dsvendas-table tbody tr {
    height: 74px;
    border: 1px solid #5f6e82;
    text-align: center;
}

.dsvendas-table  tbody tr:hover>td {
    background-color: #FFF;
}

.dsvendas-table  tbody tr:nth-child(odd) {
    background-color: #e9e9e9;
}

.btn-select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    width: 70px;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
}

.btn-select:hover {
    border: 5px solid #ffc107;
}

.btn-select p {
    margin-top: 15px;
}

.show576{
    display: none;
}

.show992 {
    display: none;
}

.form-container {
    margin-top: 30px;
    padding: 10px 0;
}

.card-form {
    background-color: #c5c5c5;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.form-controls label {
    display: none;
}

.error-message {
    margin-top: 5px;
    color: #ff5e5e;
}

.form-input {
    height: 30px;
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
    border: 0;
    padding: 10px;
    color: #263238;
}

.form-input::placeholder {
    color: #263238, 
}

.form-input:disabled {
    color: #ddd;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-container .btn {
    height: 40px;
    font-size: 10px;
    width: 100%;
}

.btn-container .btn-left {
    margin-right: 10px;
}

.btn-container .btn-right {
    margin-left: 10px;
}


@media (min-width:576px) {

    .sales-card {
        margin: 20px;
    }

    .show576 {
        display: table-cell;
    }

    .dsvendas-table tbody tr {
        height: 55px;
    }

    .dsvendas-table tbody {
        font-size: 18px;
    }

    .card-form {
        max-width: 480px;
        padding: 50px;
    }

    .form-container {
        padding: 20px;
    }

    .form-input {
        height: 40px;
        font-size: 14px;
    }

    .btn-select {
        width: 90px;
        height: 35px;
        font-size: 15px;
        margin-left: 95px;
    }

    .btn-container .btn {
        height: 50px;
        font-size: 14px;
        width: 100%;
    }
}

@media (min-width:768px) {

    .sales-card {
        margin: 30px;
    }

    .form-container {
        padding: 30px;
    }

    .card-form {
        max-width: 620px;
    }
}

@media (min-width:992px) {
    .show992 {
        display: table-cell;
    }
}

@media (min-width:1400px) {
    .btn-select {
        margin-left: 220px;
    }
}