<div class="admin-container">
    <aside-bar></aside-bar>
    <div class="update-sale-form-container ds-container">
        <h2>Cadastrar Novo Cliente</h2>
        <div class="ds-form-card">
            <form>
                <div class="form-input">
                    <input type="text" class="form-control base-input" placeholder="Nome" name="name"
                        id="name" value="$ctrl.customer.name" ng-model="$ctrl.customer.name" required />
                </div>
                <div class="form-input">
                    <input type="text" class="form-control base-input" placeholder="Email" name="email" id="email"
                        value="$ctrl.customer.email" ng-model="$ctrl.customer.email" required />
                </div>
                <div class="form-input">
                    <input type="number" class="form-control base-input" placeholder="Renda mensal" name="monthlyIncome"
                        id="monthlyIncome" value="$ctrl.customer.monthlyIncome" ng-model="$ctrl.customer.monthlyIncome"
                        required />
                </div>
                <div class="form-input">
                    <input type="date" id="birthDate" name="birthDate" value="$ctrl.customer.birthDate" ng-model="$ctrl.customer.birthDate" min="1910-01-01" max="LocalDate.now()" required>
                </div>
                <button class="btn btn-success" ng-click="$ctrl.insertCustomer($ctrl.customer)">Salvar</button>
                <button class="btn btn-danger" ng-click="$ctrl.returnToPageCustomers()">Cancelar</button>
            </form>
        </div>
    </div>
</div>