
<div class="ds-recover-card-container">
    <toaster-container toaster-options="{'toaster-id': 1, 
    'animation-class': 'toast-top-right'}"></toaster-container>
<toaster-container toaster-options="{'toaster-id': 2, 
'animation-class': 'toast-top-right'}"></toaster-container>

    <div class="ds-recover-card-form">
        <h1>Digite a nova senha</h1>
        <form>
            <div class="form-input">
                <input 
                type="password" 
                class="form-control base-input" 
                placeholder="Senha"  
                name="password" 
                id="password"
                value="password"
                required>
            </div>
            <div class="form-input">
                <input 
                type="password" 
                class="form-control base-input" 
                placeholder="Repita a senha"  
                name="newPassword" 
                id="newPassword"
                value="newPassword"
                required>
            </div>
            <button class="btn btn-primary" type="submit">Atualizar</button>
        </form>
    </div>
</div>