.dsvendas-container {
    padding: 10px;
}

.dsvendas-card {
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 10px auto;   
}

.dsvendas-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.table-title {
    display: flex;
    background-color: #9e9e9e;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.show576 {
    display: none;
}

.show768 {
    display: none;
}

.img-category {
    width: 25px;
}

.md-toolbar-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-add {
    font-size: 25px;
}

.btn-add p {
    color: #fff;
}

.sale-form-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    top: 55%;
    left: 50%;
    min-width: 280px;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.btn-form {
    height: 40px;
}

.dsvendas-pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dsvendas-pagination-container .btn-page-previous {
    transform: rotate(-180deg);
}

.dsvendas-pagination-container img {
    cursor: pointer;
}

@media (min-width:576px) {

    .dsvendas-container {
        padding: 20px;
    }

    .dsvendas-card {
        padding: 40px; 
    }

    .show576 {
        display: table-cell;
    }

    .sale-form-card {
        top: 55%;
        min-width: 480px;
        padding: 25px;
    }

    .btn-form {
        height: 50px;
        width: 130px;
    }

}

@media (min-width:768px) {
    .show768 {
        display: table-cell;
    }

}