<div class="admin-container">
    <aside-bar></aside-bar>
    <section class="ds-container">
      <h1>Tela Teams</h1>
      <a ng-href="#/admin/teams/new">
        <button class="btn btn-primary btn-add-team">Adicionar nova Equipe</button>
      </a>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="team in $ctrl.teams">
                <th scope="row"><img src="{{team.imgUrl}}" alt=""></th>
                <td>{{team.id}}</td>
                <td>{{team.name}}</td>
                <td><a ng-href="#/admin/sales/{{sale.id}}"><img src="/app/assets/img/edit.svg" alt=""></a></td>
                <td><img src="/app/assets/img/delete.svg" alt=""></td>
              </tr>
            </tbody>
          </table>
        <div class="dialog-background" ng-hide="$ctrl.warningVisible !== true">
          <div class="dialog-box">
            <div class="ds-form-card">
              <h2>Tem certeza?</h2>
              <div class="form-buttons">
                <button class="btn btn-warning" ng-click="$ctrl.closeWarning()">Não</button>
                <button class="btn btn-danger" ng-click="$ctrl.deleteTeam($ctrl.team)">Sim</button>
              </div>
            </div>
          </div>
        </div>
    </section>

  </div>
