
<div class="ds-recover-card-container">
    <toaster-container toaster-options="{'toaster-id': 1, 
    'animation-class': 'toast-top-right'}"></toaster-container>
<toaster-container toaster-options="{'toaster-id': 2, 
'animation-class': 'toast-top-right'}"></toaster-container>

    <div class="ds-recover-card-form">
        <h1>Recuperação de senha</h1>
        <form>
            <button  ng-click="$ctrl.getToken()" class="btn btn-primary text-white ds-btn-primary recover-btn" type="submit">Clique para redefinir a senha</button>
        </form>
    </div>
</div>