.download-container {
    margin-bottom: 30px;
}

.upload-container {
    margin-top: 30px;
}

.upload-container .upload-box {
    margin-bottom: 20px;
}

.upload-container .upload-button {
    margin-bottom: 100px;
}