<div class="admin-container">
    <aside-bar></aside-bar>
    <div class="update-sale-form-container ds-container">
      <h2>Cadastrar Novo Vendedor</h2>
      <div class="ds-form-card">
          <form action="">
              <div class="form-input">
                  <input 
                  type="text"
                  class="form-control base-input" 
                  placeholder="Nome"  
                  name="name" 
                  id="name"
                  value="name"
                  ng-model="$ctrl.seller.name" 
                  required
                  />
              </div>
              <div class="form-input">
                  <input 
                  type="text" 
                  class="form-control base-input" 
                  placeholder="Email"  
                  name="email" 
                  id="email"
                  value="email"
                  ng-model="$ctrl.seller.email" 
                  required>
              </div>
              <div class="form-input">
                <input 
                type="password" 
                class="form-control base-input" 
                placeholder="Senha"  
                name="password" 
                id="password"
                value="password"
                ng-model="$ctrl.seller.password" 
                required>
            </div>
              <div class="form-input">
                  <input 
                  type="text" 
                  class="form-control base-input" 
                  placeholder="Url foto perfil"  
                  name="imgUrl"
                  id="imgUrl"
                  value="imgUrl"
                  ng-model="$ctrl.seller.imgUrl" 
                  required>
              </div>
              <button class="btn btn-success" ng-click="$ctrl.insertSeller($ctrl.seller)" type="submit">Salvar</button>
              <button class="btn btn-danger" ng-click="$ctrl.returnToPageSellers()">Cancelar</button>
          </form>
      </div>
  </div>
  </div>
