* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

md-toolbar {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.md-toolbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
}

md-toolbar h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
}

.dialog-background {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5)
  }
  
  .dialog-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-card {
    padding: 50px;
  }