<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/bower_components/angular-material-data-table/dist/md-data-table.min.css"/>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="/app/views/login/login.css">
    <link rel="stylesheet" href="/app/views/admin/admin.css">
    <link rel="stylesheet" href="/app/views/sales/sales.css">
    <link rel="stylesheet" href="/app/views/teams/teams.css">
    <title>DSVendas</title>
</head>
<body ng-controller="loginCtrl as vm">
    <md-toolbar>
        <div class="md-toolbar-container">
            <a ng-href="#login"><h1>DSVendas</h1></a>
            <a class="logout" ng-click="vm.Logout()" ng-model="vm.title" ng-change="vm.setTitle()">{{vm.title}}</a>
        </div>
    </md-toolbar>
    <ng-view></ng-view>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/js/controllers/main-controller.js"></script>
    <script src="/app/js/controllers/login-controller.js"></script>
    <script src="/app/js/controllers/admin-controller.js"></script>
    <script src="/app/js/controllers/sale-controller.js"></script>
    <script src="/app/js/controllers/team-controller.js"></script>
    <script src="/app/js/controllers/user-controller.js"></script>
    <script src="/app/js/localStorage/auth-service.js"></script>
    <script src="/app/js/services/sale-service.js"></script>
    <script src="/app/js/services/team-service.js"></script>
    <script src="/app/js/controllers/teste-controller.js"></script>
    <script src="/app/components/ws-child/wsChild.js"></script>
    <script src="/app/components/ws-content/wsContent.js"></script>
    <script src="/app/js/localStorage/token-global-interceptors.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="/app/js/route.js"></script>
</body>
</html>