<div class="teams-container" id="dsvendas-container">
    <h2>Vendas</h2>
    <div class="teams-card">
        <div class="teams-content-container">
            <table class="dsvendas-teams-table table">
                <thead>
                    {{vm.message}}
                </thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nome Equipe
                    </th>
                </tr>
                <tr ng-repeat="team in vm.teams">
                    <td>{{team.id}}</td>
                    <td>{{team.name}}</td>
                    <td>
                        <button href="#" class="btn btn-warning" ng-click="vm.SelectTeam(team)">
                            Selecionar
                        </button>
                        
                    </td>
                </tr>
            </table>
                <div class="formulario">
                    <div class="form">
                        <label for="">Id Equipe</label>
                        <input type="text" ng-model="vm.team.id" placeholder="Id Equipe">
                    </div>
                    <div class="form">
                        <label for="">Equipe</label>
                        <input type="text" ng-model="vm.team.name" placeholder="Nome Equipe">
                    </div>
                    
                    
                </div>
                <div>
                    <button href="#" class="btn btn-success" ng-click="vm.InsertTeam(vm.team)">
                        Nova Venda
                    </button>
                    <button href="#" class="btn btn-primary" ng-click="vm.UpdateTeam(vm.team)">
                        Atualizar
                    </button>
                    <button href="#" class="btn btn-danger" ng-click="vm.DeleteTeam(vm.team)">
                        Apagar
                    </button>
                </div>
        </div>
    </div>
</div>