.teams-container h2 {
    margin: 20px 30px;
}

.teams-card {
    background-color: #FFF;
    margin:10px;
    padding: 10px;
    border-radius: 10px;
}

.formulario {
    display: flex;
    flex-direction: row;
    width: 600px;
    align-items: center;
    
}

label {
    justify-content: right;
}

input {
    margin-bottom: 15px;
    margin-right: 8px;
}

.goback-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .goback-container img {
    color: rgb(49, 39, 230);
    transform: rotate(-180deg);
    margin-left: 5px;
  }
  
  .goback-container h2 {
    margin-left: 15px;
    font-size: 1em;
    color: #263238;
  }