<div class="teams-container" id="dsvendas-container">
    <h2>Equipes</h2>
    <div class="teams-card">
        <div class="teams-content-container">
            <a href="#home">
                <div class="goback-container">
                    <img src="/assets/img/arrow.svg" alt="">
                    <h2>VOLTAR</h2>
                </div> 
            </a>
            <table class="dsvendas-table">
                <thead>
                    <tr>
                        <th >
                            Id
                        </th>
                        <th>
                            Nome Equipe
                        </th>
                        <th class="show992">
                            Cod Lider Equipe
                        </th>
                        <th class="show992">
                            Nome Lider Equipe
                        </th>
                        <th ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN'">
                            Selecionar
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="team in vm.teams">
                        <td>{{team.id}}</td>
                        <td>{{team.name}}</td>
                        <td class="show992">{{team.managerId}}</td>
                        <td class="show992">{{team.managerName}}</td>
                        <td>
                            <button href="#" class="btn btn-warning" ng-click="vm.SelectTeam(team)" ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN'">
                                Selecionar
                            </button>
                            
                        </td>
                    </tr>
                </tbody> 
            </table>

            <section id="form-section" class="form-container" ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN'">
                <div class="card-form">
                    <form name="form-sales">
                        <div class="form-controls">
                            <label for="teamId">Id Equipe</label>
                            <input type="text" id="teamId" placeholder="Id Equipe" class="form-input" ng-model="vm.team.id" placeholder="Id Equipe">
                        </div>
                        <div class="form-controls">
                            <label for="Team">Equipe</label>
                            <input type="text" id="Team" placeholder="Equipe" class="form-input" ng-model="vm.team.name">
                        </div>
                        <div class="form-controls">
                            <label for="managerId">Cod Lider Equipe</label>
                            <input type="text" id="managerId" ng-model="vm.team.managerId" class="form-input" placeholder="Cod Lider Equipe">
                        </div>
                        <div class="form-controls">
                            <label for="managerName">Lider Equipe</label>
                            <input type="text" id="managerName" ng-model="vm.team.managerName" class="form-input" placeholder="Lider Equipe">
                        </div>
                        <div class="btn-container">
                            <button href="#"class="btn btn-left btn-success" ng-click="vm.InsertTeam(vm.team)" ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN'">
                                Nova Equipe
                            </button>
                            <button href="#" class="btn btn-primary" ng-click="vm.UpdateTeam(vm.team)" ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN'">
                                Atualizar
                            </button>
                            <button href="#" class="btn btn-right btn-danger" ng-click="vm.DeleteTeam(vm.team)" ng-hide="vm.USER_ROLE.authority == 'ROLE_ADMIN'">
                                Apagar
                            </button>
                        </div>
                    </form>
                </div>
            </section>               
        </div>
    </div>
</div>