<section class="sales-container">
    <div class="vendas-container-top-area">
        <a href="#admin"><img src="/app/assets/img/return.svg" alt="return"></a>
        <h1>Usuários</h1>
      </div>
      <div>
        <h2>Cadastro de Usuários</h2>
        <button class="btn btn-success btn-new" ng-click="vm.ShowFormNew()">Novo</button>
    
      </div>
      <form class="dsc-search-bar">
        <button type="submit">🔎︎</button>
        <input type="text" placeholder="Nome do Usuário" name="text" />
        <button>🗙</button>
      </form>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Id</th>
              <th scope="col">Nome Usuário</th>
              <th scope="col">#</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <tbody ng-repeat="user in vm.users">
            <tr>
              <td class="tb-img"><img src="/app/assets/img/users.png" alt=""></td>
              <td scope="row">{{user.id}}</td>
              <td>{{user.name}}</td>
              <td><img src="/app/assets/img/edit.svg" ng-click="vm.SelectUser(user)" alt="editar"></td>
              <td><img src="/app/assets/img/delete.svg" ng-click="vm.SelectToDelete(user)" alt="apagar"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="dialog-background" ng-hide="vm.formVisible !== true">
        <div class="dialog-box">
          <form class="form-card">
            <h2>Dados do Usuário</h2>
            <div class="form-controls-container">
              <div>
                <input class="form-control" id="name" name="name" type="text" placeholder="Nome" value="name"
                  ng-model="vm.user.name">
              </div>
            </div>
    
            <div class="form-buttons">
              <button type="reset" class="btn btn-danger" ng-click="vm.CloseForm()">Cancelar</button>
              <button type="submit" class="btn-primary btn" ng-click="vm.UpdateUser(user)">Atualizar</button>
            </div>
          </form>
        </div>
      </div>
    
      <div class="dialog-background" ng-hide="vm.formNewVisible !== true">
        <div class="dialog-box">
          <form class="form-card">
            <h2>Novo Usuário</h2>
            <div class="form-controls-container">
              <div>
                <input class="form-control" id="name" name="name" type="text" placeholder="Nome" value="name"
                  ng-model="vm.user.name">
              </div>
            </div>
    
            <div class="form-buttons">
              <button type="reset" class="btn btn-danger" ng-click="vm.CloseFormNew()">Cancelar</button>
              <button type="submit" class="btn-success btn" ng-click="vm.InsertUser(user)">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    
      <div class="dialog-background" ng-hide="vm.warningVisible !== true">
        <div class="dialog-box">
          <div class="form-card">
            <h2>Tem certeza?</h2>
            <div class="form-buttons">
              <button type="reset" class="btn btn-danger" ng-click="vm.CloseWarning()">Não</button>
              <button type="submit" class="btn-success btn" ng-click="vm.DeleteUser(user)">Sim</button>
            </div>
          </div>
        </div>
      </div>
</section>