<div class="admin-container">
    <aside-bar></aside-bar>
    <section class="ds-container">
      <h1>Dashboard</h1>
      <div class="date-picker-container">
          <date-picker mindate="$ctrl.mindate" maxdate="$ctrl.maxdate"></date-picker>
        <div>
          <button class="btn btn-primary btn-search" ng-click="$ctrl.onChangeDate()">Buscar</button>
        </div>
        <div>
          <average-monthly-income></average-monthly-income>
        </div>
        <div>
          <average-age></average-age>
        </div>
      </div>
      <div class="charts-container">
        
      </div> 
      <div class="charts-container">
        <div><chart-most-sold-products></chart-most-sold-products></div>
        <div><chart-most-purchases-customers></chart-most-purchases-customers></div>
      </div>
      <div class="charts-container">
        
      </div>
      <div class="charts-container">
        <pie-chart-team-seller mindate="$ctrl.mindate" maxdate="$ctrl.maxdate"></pie-chart-team-seller>
      </div>
      
    </section>
  </div>