<section class="dsvendas-container">
  <div class="vendas-container-top-area">
    <a href="#admin/users"><img src="/app/assets/img/return.svg" alt="return"><span>VOLTAR</span></a>
    <h1>Usuários</h1>
  </div>
    <div class="user-form-container">
      <form class="user-card dsc-form">
        <h2>Dados do Usuario</h2>
        <div class="form-controls-container">
          <div>
            <input class="form-control" type="text" placeholder="Nome">
          </div>
          <div>
            <input class="form-control" type="text" placeholder="Email">
          </div>
          <div>
            <input class="form-control" type="text" placeholder="Nome">
          </div>
          <label for="gestor">Perfil</label>
        <select id="gestor">
          <optgroup>
            <option value="Gestor">Vendedor</option>
          <option value="Gestor">Gestor</option>
          </optgroup>
        </select>
        
        </div>

        <div class="form-buttons">
          <button type="reset" class="btn btn-danger">Cancelar</button>
          <button type="submit" class="btn btn-success">Salvar</button>
        </div>
      </form>
    </div>
  </section>