.user-form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 4px;
}

.user-form-card {
  background-color: #FFF;
  border-radius: 4px;
}

.user-form-card h2 {
  margin-bottom: 30px;
}

.form-controls-container input {
  margin-bottom: 7px;
  font-size: 18px;
}

.form-buttons {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  margin-bottom: 30px;
  margin-top: 50px;
}

.form-buttons .btn {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 576px) {

  .user-form-container {
    padding: 30px;
  }

  .user-form-card h2 {
    margin-bottom: 50px;
  }

  .form-buttons {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}


@media (min-width: 768px) {

  .user-form-card h2 {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .form-buttons {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .user-form-container {
    max-width: 600px;
    padding: 40px;
  }

  .form-buttons .btn {
    font-size: 18px;
    font-weight: bold;
    height: 50px;
  }
}

@media (min-width: 992px) {

  .user-form-container {
    max-width: 600px;
    padding: 60px;
  }

  .user-form-card h2 {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .form-buttons {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .form-buttons .btn {
    font-size: 18px;
    font-weight: bold;
    height: 50px;
  }
}