.charts-container {
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-picker-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.date-picker-container date-picker {
    width: 460px;
}