<section class="dsvendas-container">
    <div class="vendas-container-top-area">
        <a href="#admin"><img src="/app/assets/img/return.svg" alt="return"></a>
        <h1>Equipes</h1>
    </div>
    <div class="team-form-container">
        <form class="teams-form-card dsc-form">
          <h2>Dados da Equipe</h2>
          <div class="form-controls-container">
            <div>
              <input class="form-control" id="name" name="name" type="text" placeholder="Nome da equipe" value="name" ng-model="vm.team.name">
            </div>    
          </div>
    
          <div class="form-buttons">
            <button type="reset" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn-primary btn" ng-click="vm.UpdateTeam(team)">Atualizar</button>
            <button type="submit" class="btn-success btn" ng-click="vm.InsertTeam(team)">Salvar</button>
          </div>
        </form>
      </div>
    <table class="table table-sm table-responsive tb-card">
        <thead>
            <tr>
                <th class="col">#</th>
                <th class="col">ID</th>
                <th class="col">Nome</th>
                <th class="col">#</th>
                <th class="col">#</th>
            </tr>
        </thead>
        <tbody ng-repeat="team in vm.teams">
            <tr>
                <td class="saleImg" scope="row"><img src="/app/assets/img/teams.png" alt=""></td>
                <td>{{team.id}}</td>
                <td>{{team.name}}</td>
                <td class="img-btn"><img src="/app/assets/img/edit.svg" alt="" ng-click="vm.SelectTeam(team)"></td>
                <td class="img-btn"><img src="/app/assets/img/delete.svg" alt="" ng-click="vm.DeleteTeam(team)"></td>
            </tr>
        </tbody>
    </table>

  
</section>