<section class="dsvendas-container">
    <div class="vendas-container-top-area">
        <a href="#admin"><img src="/app/assets/img/return.svg" alt="return"><span>VOLTAR</span></a>
        <h1>Equipes</h1>
    </div>
    <h2>Cadastro de Equipes</h2>
    <div class="new-sale">
        <a href="#admin/teams/create"><div class="btn btn-primary">Novo</div></a>
    </div>

    <form class="search-sale">
        <button type="submit">🔎︎</button>
        <input type="text" placeholder="Buscar Usuário"/>
        <button type="reset">🗙</button>
    </form>
    <div class="team-card">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th class="show576">ID</th>
                    <th>Nome</th>
                    <th class="show576">Gestor</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="teamImg"><img src="/app/assets/img/teams.png" alt=""></td>
                    <td class="show576">1</td>
                    <td>Bradesco</td>
                    <td class="show576">Maria</td>
                    <td><img src="/app/assets/img/edit.svg" alt="editar"></td>
                    <td><img src="/app/assets/img/delete.svg" alt="apagar"></td>
                </tr>
                <tr>
                    <td class="teamImg"><img src="/app/assets/img/teams.png" alt=""></td>
                    <td class="show576">1</td>
                    <td>Bradesco</td>
                    <td class="show576">Maria</td>
                    <td><img src="/app/assets/img/edit.svg" alt="editar"></td>
                    <td><img src="/app/assets/img/delete.svg" alt="apagar"></td>
                </tr>
                <tr>
                    <td class="teamImg"><img src="/app/assets/img/teams.png" alt=""></td>
                    <td class="show576">1</td>
                    <td>Bradesco</td>
                    <td class="show576">Maria</td>
                    <td><img src="/app/assets/img/edit.svg" alt="editar"></td>
                    <td><img src="/app/assets/img/delete.svg" alt="apagar"></td>
                </tr>
                <tr>
                    <td class="teamImg"><img src="/app/assets/img/teams.png" alt=""></td>
                    <td class="show576">1</td>
                    <td>Bradesco</td>
                    <td class="show576">Maria</td>
                    <td><img src="/app/assets/img/edit.svg" alt="editar"></td>
                    <td><img src="/app/assets/img/delete.svg" alt="apagar"></td>
                </tr>
                <tr>
                    <td class="teamImg"><img src="/app/assets/img/teams.png" alt=""></td>
                    <td class="show576">1</td>
                    <td>Bradesco</td>
                    <td class="show576">Maria</td>
                    <td><img src="/app/assets/img/edit.svg" alt="editar"></td>
                    <td><img src="/app/assets/img/delete.svg" alt="apagar"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</section>