.vendas-container-top-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px
}

.vendas-container-top-area a {
  margin-right: 50px;
}

.vendas-container-top-area a span {
  font-size: 10px;
  font-weight: bold;
}


.vendas-container-top-area img {
  width: 25px;
  height: 25px;
}


.vendas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.vendas-container h2 {
  font-size: 12px;
}

.new-sale {
  width: 80%;
  margin-bottom: 20px;
}

.new-sale .btn {
  width: 100%;
  font-weight: bold;
}

.search-sale {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.search-sale input {
  height: 40px;
  width: 100%;
  text-align: center;
}

.search-sale button {
  height: 38px;
  width: 40px;
  margin-bottom: 20px;
}

.tb-card {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

}

tr .col {
  font-size: 14px;
  border: none;
}

tr td {
  font-size: 14px;
  border: none;
}

.saleImg img {
  width: 15px;
}

.img-btn img {
  width: 15px;
}

.show576 {
  display: none;
}

.show768 {
  display: none;
}

.team-form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.team-form-card h2 {
  margin-bottom: 20px;
}

.form-controls-container div {
  padding: 0;
}

.form-controls-container input {
  margin-bottom: 10px;
  font-size: 12px;
}

.form-buttons {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  margin-bottom: 30px;
  margin-top: 20px;
}

.form-buttons .btn {
  font-size: 14px;
  font-weight: bold;
}



@media (min-width:576px) {

  thead {
    font-size: 25px;
  }

  tbody {
    font-size: 25px;
  }

  .new-sale .btn {
    height: 45px;
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .vendas-container-top-area {
    justify-content: left;
  }

  .new-sale {
    width: 350px;
    margin-bottom: 20px;
  }

  .show576 {
    display: unset;
  }
}

@media (min-width:768px) {


  .show768 {
    display: unset;
  }

  thead {
    font-size: 20px;
  }

  tbody {
    font-size: 20px;
  }
}