.login-container {
    padding: 10px;
}

.form-card {
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 10px auto;   
}

@media (min-width: 576px) {
    .login-card {
        width: 100%;
        max-width: 380px;
        margin: 30px auto;
        padding: 40px;
    }
}

@media (min-width: 768px) {
    .login-card {
        margin: 60px auto;
    }
}
