<div class="admin-container">
    <aside-bar></aside-bar>
    <div class="update-sale-form-container ds-container">
        <h2>Cadastrar Novo Produto</h2>
        <div class="ds-form-card">
            <form action="">
                <div class="form-input">
                    <input type="text" class="form-control base-input" placeholder="Nome do Produto" name="name"
                        id="name" value="$ctrl.product.name" ng-model="$ctrl.product.name" required />
                </div>
                <div class="form-input">
                    <input type="text" class="form-control base-input" placeholder="Descrição" name="description"
                        id="description" value="$ctrl.product.description" ng-model="$ctrl.product.description"
                        required />
                </div>
                <div class="form-input">
                    <input type="number" class="form-control base-input" placeholder="Preço" name="price" id="price"
                        value="$ctrl.product.price" ng-model="$ctrl.product.price" min="0" required />
                </div>
                <div class="form-input">
                    <input type="text" class="form-control base-input" placeholder="Url da Imagem do Produto"
                        name="imgUrl" id="imgUrl" value="$ctrl.product.imgUrl" ng-model="$ctrl.product.imgUrl"
                       />
                </div>,
                <div>
                    <label for="categories">Selecione uma categoria:</label>
                    <select class="form-select" aria-label="Selecione uma categoria" name="category" ng-model="$ctrl.category" value="$ctrl.category" ng-options="category.name for category in $ctrl.categories" required></select>
                </div>
                    <br/>
                <button class="btn btn-success" ng-click="$ctrl.insertProduct($ctrl.product)"
                    type="submit">Salvar</button>
                <button class="btn btn-danger" ng-click="$ctrl.returnToPageProducts()">Cancelar</button>
            </form>
        </div>
    </div>

</div>