.sales-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.vendas-container-top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px
}

.vendas-container-top-area a {
    margin-right: 50px;
}

.vendas-container-top-area a span {
    font-size: 10px;
    font-weight: bold;
}

.vendas-container-top-area img {
    width: 25px;
    height: 25px;
}

.btn-new {
    margin: 20px auto 50px;
    width: 260px;
    
}

.sale-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  }

  .form-card h2 {
    margin-bottom: 20px;
  }

  .form-controls-container div {
    padding: 0;
  }

  .form-controls-container input { 
    margin-bottom: 10px;
    font-size: 12px;
  }

  .form-buttons {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .form-buttons .btn {
    font-size: 14px;
    font-weight: bold;
  }

.tb-img img {
    height: 25px;
    width: 25px;
}

.table {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
    align-items: center;
}

table td, th {
    height: auto;
    white-space: pre-wrap;
    font-size: 12px;
 }

.show576 {
    display: none;
}

.table-responsive{
  margin-top: 100px;
}


.dsc-search-bar {
    height: 40px;
    display: flex;
    color: var(--dsc-color-font-primary);
    margin-bottom: 50px;
  }
  
  .dsc-search-bar button, .dsc-search-bar input {
    border: 1px solid var(--dsc-color-card-border);
  }
  
  .dsc-search-bar input {
    width: calc(100% - 80px);
    border-left: none;
    border-right: none;
    padding: 0 10px;
    font-size: 16px;
    color: var(--dsc-color-font-primary);
  }
  
  .dsc-search-bar input:focus {
    outline: none;
  }
  
  .dsc-search-bar input::placeholder {
    color: var(--dsc-color-font-placeholder);
  }
  
  .dsc-search-bar button {
    width: 40px;
    color: var(--dsc-color-font-primary);
  }
  
  .dsc-search-bar button[type="submit"] {
    border-right: none;
    border-radius: 4px 0 0 4px;
  }
  
  .dsc-search-bar button[type="reset"] {
    border-left: none;
    border-radius: 0 4px 4px 0;
  }

  .dsmeta-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
  }
  
  .dsmeta-form-control {
    width: 100%;
    height: 46px;
    background-color: #fff;
    border: 1px solid #9aaabe;
    border-radius: 5px;
    color:#384459;
    padding: 0 20px;
    font-size: 18px;
  }

@media (min-width: 576px) {

  .vendas-container-top-area img {
    width: 35px;
    height: 35px;
}
    .show576 {
        display: table-cell;
        margin: 0;
        padding: 0;
    }

    table td, th {
        height: 20px;
        font-size: 14px;
    }

}

@media (min-width: 768px) {

    .sales-container {
        max-width: 960px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .sale-form-container {
        margin: 0 auto;
    }

    table td, th {
      font-size: 16px;
  }

    .table {
        margin: 50px auto; 
    }
}