<section class="dsvendas-container">
    <md-card class="dsvendas-card">
        <div class="dsvendas-top-container">
            <a ng-href="#admin">
                <md-button class="md-raised md-primary">VOLTAR</md-button>
            </a>
            <md-button class="md-fab md-primary btn-add" aria-label="Profile" ng-click="vm.ShowFormNew()">
                <p>+</p>
            </md-button>
        </div>
        <div class="dsvendas-pagination-container">
            <img class="btn-page-previous" ng-click="vm.previousPage()" src="/app/assets/img/arrow.svg" alt="">
            <p>Pagina {{vm.page.number + 1}}</p>
            <img src="/app/assets/img/arrow.svg" alt="" ng-click="vm.nextPage()">
        </div>
        <md-container>
            <figure class="highcharts-figure">
                <div id="container3"></div>
            </figure>
        </md-container>

        <div>
            <h2>{{vm.title}}</h2>
        </div>

        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column><span>#</span></th>
                        <th md-column><span>Id</span></th>
                        <th md-column class="show576">Visitas</th>
                        <th md-column class="show768">Vendas</th>
                        <th md-column class="show576">Total</th>
                        <th md-column class="show768">Vendedor</th>
                        <th md-column>#</th>
                        <th md-column>#</th>
                    </tr>
                </thead>
                <tbody md-body ng-repeat="sale in vm.sales">
                    <tr md-row>
                        <td md-cell>
                            <img class="img-category" src="/app/assets/img/sales.png" alt="vendas" />
                        </td>
                        <td md-cell>{{sale.id}}</td>
                        <td md-cell class="show576">{{sale.visited}}</td>
                        <td md-cell class="show768">{{sale.deals}}</td>
                        <td md-cell class="show576">R$ {{sale.amount}}</td>
                        <td md-cell class="show768">{{ sale.sellerName}}</td>
                        <td md-cell><img src="/app/assets/img/edit.svg" alt="editar" ng-click="vm.SelectSale(sale)"/></td>
                        <td md-cell>
                            <img src="/app/assets/img/delete.svg" alt="deletar" ng-click="vm.SelectToDelete(sale)"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <div class="dialog-background" ng-hide="vm.formNewVisible !== true">
            <di>
                <md-card>
                    <md-card-title class="sale-form-card">
                        <h2>Nova Venda</h4>
                            <div class="form-controls-container">
                                <md-input-container class="md-block login-card-inputs" flex-gt-sm />
                                <div class="valid-feedback">
                                    Looks good
                                </div>

                                <md-datepicker aria-label="true" ng-model="vm.sale.date" type="date" value="date"
                                    ng-change="vm.onDateChanged()"></md-datepicker>
                                {{vm.sale.date | date:shortDate}}
                                </md-content>
                                </md-input-container>
                                <md-input-container class="md-block login-card-inputs" flex-gt-sm />
                                <div class="valid-feedback">
                                    Looks good
                                </div>
                                <input class="base-input" id="visited" name="visited" type="number"
                                    placeholder="Visitas" min="0" value="visited" ng-model="vm.sale.visited" required>
                                </md-input-container>
                                <md-input-container class="md-block login-card-inputs" flex-gt-sm />
                                <div class="valid-feedback">
                                    Looks good
                                </div>
                                <input class="base-input" id="deals" name="deals" type="number" placeholder="Vendas"
                                    value="deals" ng-model="vm.sale.deals" min="0" required>
                                </md-input-container>
                                <md-input-container class="md-block login-card-inputs" flex-gt-sm />
                                <div class="valid-feedback">
                                    Looks good
                                </div>
                                <input class="base-input" id="amount" name="amount" type="number" placeholder="Total"
                                    value="amount" ng-model="vm.sale.amount" min="0" required>
                                </md-input-container>
                                <md-button class="md-warn btn-form" type="reset"
                                    ng-click="vm.CloseFormNew()">CANCELAR</md-button>
                                <md-button class="md-raised md-primary btn-form" type="submit"
                                    ng-click="vm.InsertSale(sale)">SALVAR</md-button>
                            </div>
                    </md-card-title>
                </md-card>
        </div>
        </div>

        <div class="dialog-background" ng-hide="vm.formVisible !== true">
            <di>
                <md-card>
                    <md-card-title class="sale-form-card">
                        <h2>Atualizar Venda</h4>
                            <div class="form-controls-container">
                                <md-input-container class="md-block login-card-inputs" flex-gt-sm />
                                <div class="valid-feedback">
                                    Looks good
                                </div>

                                <md-datepicker ng-model="vm.sale.date" type="date" value="date"
                                    ng-change="vm.onDateChanged()"></md-datepicker>
                                {{vm.sale.date | date:shortDate}}
                                </md-content>
                                </md-input-container>
                                <md-input-container class="md-block login-card-inputs" flex-gt-sm />
                                <div class="valid-feedback">
                                    Looks good
                                </div>
                                <input class="base-input" id="visited" name="visited" type="number"
                                    placeholder="Visitas" min="0" value="visited" ng-model="vm.sale.visited" required>
                                </md-input-container>
                                <md-input-container class="md-block login-card-inputs" flex-gt-sm />
                                <div class="valid-feedback">
                                    Looks good
                                </div>
                                <input class="base-input" id="deals" name="deals" type="number" placeholder="Vendas"
                                    value="deals" ng-model="vm.sale.deals" min="0" required>
                                </md-input-container>
                                <md-input-container class="md-block login-card-inputs" flex-gt-sm />
                                <div class="valid-feedback">
                                    Looks good
                                </div>
                                <input class="base-input" id="amount" name="amount" type="number" placeholder="Total"
                                    value="amount" ng-model="vm.sale.amount" min="0" required>
                                </md-input-container>
                                <md-button class="md-warn btn-form" type="reset"
                                    ng-click="vm.CloseForm()">CANCELAR</md-button>
                                <md-button class="md-raised md-primary btn-form" type="submit"
                                    ng-click="vm.UpdateSale(sale)">ATUALIZAR</md-button>
                            </div>
                    </md-card-title>
                </md-card>
        </div>
        </div>





        <div class="dialog-background" ng-hide="vm.warningVisible !== true">
            <div class="dialog-box">
                <div class="sale-form-card">
                    <h2>Tem certeza?</h2>
                    <div class="form-buttons">
                        
                        <md-button class="md-raised md-primary btn-form" type="reset"
                        ng-click="vm.CloseWarning()">Não</md-button>
                                <md-button class="md-raised md-accent btn-form" type="submit"
                                ng-click="vm.DeleteSale(vm.sale)">SIM</md-button>
                    </div>
                </div>
            </div>
        </div>
    </md-card>
    
</section>