<section class="dsvendas-container">
    <div class="vendas-container-top-area">
        <a href="#admin"><img src="/app/assets/img/return.svg" alt="return"></a>
        <h1>Vendas</h1>
    </div>


    <div class="sale-form-container">
        <form class="sale-form-card dsc-form">
          <h2>Dados da venda</h2>
          <div class="form-controls-container">
            <div>
              <input class="form-control" id="date" name="date" type="text" placeholder="Data" value="date" ng-model="vm.sale.date">
            </div>
            <div>
              <input class="form-control" id="visited" name="visited" type="number" placeholder="Visitas" value="visited" ng-model="vm.sale.visited">
            </div>
            <div>
              <input class="form-control" id="deals" name="deals" type="number" placeholder="Vendas" value="deals" ng-model="vm.sale.deals">
            </div>
            <div>
              <input class="form-control" id="amount" name="amount" type="number" placeholder="Total" value="amount" ng-model="vm.sale.amount">
            </div>      
          </div>
    
          <div class="form-buttons">
            <button type="reset" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn-primary btn" ng-click="vm.UpdateSale(sale)">Atualizar</button>
            <button type="submit" class="btn-success btn" ng-click="vm.InsertSale(sale)">Salvar</button>
          </div>
        </form>
      </div>
    <table class="table table-sm tb-card">
        <thead>
            <tr>
                <th class="col">#</th>
                <th class="col show576">ID</th>
                <th class="col show576">Visitas</th>
                <th class="col">Vendas</th>
                <th class="col">Total</th>
                <th class="col show576">Vendedor</th>
                <th class="col show576">Data</th>
                <th class="col">#</th>
                <th class="col">#</th>
            </tr>
        </thead>
        <tbody ng-repeat="sale in vm.sales">
            <tr>
                <td class="saleImg" scope="row"><img src="/app/assets/img/sales.png" alt=""></td>
                <td class="show576">{{sale.id}}</td>
                <td class="show576">{{sale.visited}}</td>
                <td>{{sale.deals}}</td>
                <td>{{sale.amount}}</td>
                <td class="show576">{{sale.sellerId}}</td>
                <td class="show576">{{sale.date}}</td>
                <td class="img-btn"><img src="/app/assets/img/edit.svg" alt="" ng-click="vm.SelectSale(sale)"></td>
                <td class="img-btn"><img src="/app/assets/img/delete.svg" alt="" ng-click="vm.DeleteSale(sale)"></td>
            </tr>
        </tbody>
    </table>

  
</section>