<section class="sales-container">
    <div class="vendas-container-top-area">
        <a href="#admin"><img src="/app/assets/img/return.svg" alt="return"></a>
        <h1>Vendas</h1>
    </div>
    <div>
      <h2>Cadastro de Vendas</h2>
      <button class="btn btn-success btn-new" ng-click="vm.ShowFormNew()">Novo</button>

    </div>
    <form class="dsc-search-bar">
      <button type="submit">🔎︎</button>
      <input 
      type="text"
      placeholder="Nome do Vendedor"
      name="text"
      />
      <button>🗙</button>
    </form>
    
    
    <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Total</th>
                <th scope="col">Nome Vendedor</th>
                <th class="show576" scope="col">Data</th>
                <th class="show576" scope="col">Visitas</th>
                <th class="show576" scope="col">Vendas</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody ng-repeat="sale in vm.sales">
              <tr>
                <td class="tb-img"><img src="/app/assets/img/sales.png" alt=""></td>
                <td scope="row">{{sale.id}}</td>
                <td>{{sale.amount}}</td>
                <td>{{sale.sellerName}}</td>
                <td class="show576" >{{sale.date}}</td>
                <td class="show576" >{{sale.visited}}</td>
                <td class="show576" >{{sale.deals}}</td>
                <td><img src="/app/assets/img/edit.svg" alt="editar" ng-click="vm.SelectSale(sale)"></td>
                <td><img src="/app/assets/img/delete.svg" alt="apagar" ng-click="vm.SelectToDelete(sale)"></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="dialog-background"  ng-hide="vm.formVisible !== true">
      <div class="dialog-box">
        <form class="form-card">
          <h2>Dados da venda</h2>
          <div class="form-controls-container">
            <div>
              <input class="form-control" id="date" name="date" type="text" placeholder="Data" value="date" ng-model="vm.sale.date">
            </div>
            <div>
              <input class="form-control" id="visited" name="visited" type="number" placeholder="Visitas" value="visited" ng-model="vm.sale.visited">
            </div>
            <div>
              <input class="form-control" id="deals" name="deals" type="number" placeholder="Vendas" value="deals" ng-model="vm.sale.deals">
            </div>
            <div>
              <input class="form-control" id="amount" name="amount" type="number" placeholder="Total" value="amount" ng-model="vm.sale.amount">
            </div>      
          </div>
    
          <div class="form-buttons">
            <button type="reset" class="btn btn-danger" ng-click="vm.CloseForm()">Cancelar</button>
            <button type="submit" class="btn-primary btn" ng-click="vm.UpdateSale(sale)">Atualizar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="dialog-background"  ng-hide="vm.formNewVisible !== true">
      <div class="dialog-box">
        <form class="form-card">
          <h2>Nova venda</h2>
          <div class="form-controls-container">
            <div>
              <input class="form-control" id="date" name="date" type="text" placeholder="Data" value="date" ng-model="vm.sale.date">
            </div>
            <div>
              <input class="form-control" id="visited" name="visited" type="number" placeholder="Visitas" value="visited" ng-model="vm.sale.visited">
            </div>
            <div>
              <input class="form-control" id="deals" name="deals" type="number" placeholder="Vendas" value="deals" ng-model="vm.sale.deals">
            </div>
            <div>
              <input class="form-control" id="amount" name="amount" type="number" placeholder="Total" value="amount" ng-model="vm.sale.amount">
            </div>      
          </div>
    
          <div class="form-buttons">
            <button type="reset" class="btn btn-danger" ng-click="vm.CloseFormNew()">Cancelar</button>
            <button type="submit" class="btn-success btn" ng-click="vm.InsertSale(sale)">Salvar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="dialog-background"  ng-hide="vm.warningVisible !== true">
      <div class="dialog-box">
        <div class="form-card">
          <h2>Tem certeza?</h2>
        <div class="form-buttons">
          <button type="reset" class="btn btn-danger" ng-click="vm.CloseWarning()">Não</button>
          <button type="submit" class="btn-success btn"  ng-click="vm.DeleteSale(vm.sale)">Sim</button>
        </div>
        </div>
      </div>
    </div>
</section>