<aside class="ds-aside-bar">
    <a ng-href="#admin">
      <div  class="ds-aside-title">
        <img src="/app/assets/img/gestao.svg" alt="">
        <h3>DSVendas</h3>
      </div>
    </a>
    <div class="ds-aside-menu navbar nav">
      <a href="#admin/sales"><button class="btn btn-primary">Vendas</button></a>
      <a href="#admin/teams"><button class="btn btn-primary">Equipes</button></a>
      <a href="#admin/sellers"><button class="btn btn-primary">Vendedores</button></a>
    </div>
    <div class="ds-logout">
      <button ng-click="$ctrl.Logout()" class="btn">
        <img src="/app/assets/img/logout.svg" alt="">
        Logout
      </button>
    </div>
  </aside>