<aside class="ds-aside-bar">
    <a ng-href="#admin">
      <div  class="ds-aside-title">
        <img src="/app/assets/img/gestao.svg" alt="">
        <h3>DSVendas</h3>
      </div>
    </a>
    <profile-user></profile-user>
    <div class="ds-aside-menu navbar nav">
      <a href="#admin/dashboard"><button class="btn btn-primary">Dashboard</button></a>
      <a href="#admin/sales"><button class="btn btn-primary">Vendas</button></a>
      <a href="#admin/teams" ng-hide="$ctrl.loggedUser.authority !== 'ROLE_ADMIN' && $ctrl.loggedUser.authority !== 'ROLE_MANAGER'"><button class="btn btn-primary">Equipes</button></a>
      <a href="#admin/sellers" ng-hide="$ctrl.loggedUser.authority !== 'ROLE_ADMIN'"><button class="btn btn-primary">Usuários</button></a>
      <a href="#admin/customers"><button class="btn btn-primary">Clientes</button></a>
      <a href="#admin/products"><button class="btn btn-primary">Produtos</button></a>
      <a href="#admin/categories"><button class="btn btn-primary">Categorias</button></a>
      <a href="#admin/reports"><button class="btn btn-primary">Relatórios</button></a>
    </div>
    <div class="ds-logout">
      <button ng-click="$ctrl.Logout()" class="btn">
        <img src="/app/assets/img/logout.svg" alt="">
        Logout
      </button>
    </div>
  </aside>