<toaster-container toaster-options="{'toaster-id': 1, 
            'animation-class': 'toast-top-right', 'time-out': 5000}">
</toaster-container>
<toaster-container toaster-options="{'toaster-id': 2, 
            'animation-class': 'toast-top-right', 'time-out': 5000}">
</toaster-container>
<div class="admin-container">
    <aside-bar></aside-bar>
    <div class="update-sale-form-container ds-container">
        <div class="return-area">
            <a ng-href="#/admin/teams" class="return-container">
                <img src="/app/assets/img/arrow.svg" alt="">
                <h4>Voltar</h4>
            </a>
        </div>
        <div>
            <h2>ATUALIZAR EQUIPE</h2>
            <hr>
            <div class="profile-user-data">
                <p>Nome:</p>
                <h3>{{$ctrl.team.name}}<h3><button class="btn btn-outline-primary"
                            ng-click="$ctrl.editName()">Editar</button>
            </div>
            <form class="update-name-container" ng-show="$ctrl.showUpdateNameInput == true">
                <label for="new-name">Novo Nome:</label>
                <input id="new-name" class="base-input form-control" type="text" ng-model="$ctrl.newName" required>
                <button class="btn btn-outline-success" ng-click="$ctrl.updateTeamName()">Salvar</button>
            </form>
            <hr>
        </div>
        <div>
            <h2>ALTERAR IMAGEM DA EQUIPE</h2>
            <button class="btn btn-outline-primary" ng-click="$ctrl.updateImage()">Alterar imagem</button>
            <form ng-show="$ctrl.switchImage == true">
                <div>
                    <div class="col-md-4 upload-box">
                        <input type="file" name="file" id="file" ng-model="file" ngf-select="$ctrl.selectFile(file)"
                            accept="image/*">
                    </div>
                    <button class="btn btn-outline-success" ng-click="$ctrl.uploadFile()">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>