<toaster-container toaster-options="{'toaster-id': 1, 
            'animation-class': 'toast-top-right', 'time-out': 5000}">
</toaster-container>
<toaster-container toaster-options="{'toaster-id': 2, 
            'animation-class': 'toast-top-right', 'time-out': 5000}">
</toaster-container>
<div class="admin-container">
    <aside-bar></aside-bar>
    <div class="update-sale-form-container ds-container">
        <div class="return-area">
            <a ng-href="#/admin/teams" class="return-container">
              <img src="/app/assets/img/arrow.svg" alt="">
              <h4>Voltar</h4>
            </a>
            <h2>Atualizar Equipe</h2>
            <h2></h2>
          </div>
        
        <div class="ds-form-card">
            <form>
                <div class="form-input">
                    <input 
                    type="text"
                    class="form-control base-input" 
                    placeholder="Nome da Equipe"  
                    name="name" 
                    id="name"
                    value="name"
                    ng-model="$ctrl.team.name" 
                    required
                    />
                </div>
                <div class="form-input">
                    <input 
                    type="text"
                    class="form-control base-input" 
                    placeholder="imgUrl da Equipe"  
                    name="imgUrl" 
                    id="imgUrl"
                    value="imgUrl"
                    ng-model="$ctrl.team.imgUrl" 
                    required
                    />
                </div>
                <div class="form-input">

                <button class="btn btn-primary btn-insert" ng-click="$ctrl.updateTeam($ctrl.team)" type="submit">Atualizar</button>
                <button class="btn btn-danger btn-cancel" ng-click="$ctrl.returnToPageTeams()">Cancelar</button>
            </form>
        </div>
    </div>
</div>