<div class="admin-container">
    <aside-bar></aside-bar>
    <div class="update-sale-form-container ds-container">
        <h2>Atualizar Equipe</h2>
        <div class="ds-form-card">
            <form action="">
                <div class="form-input">
                    <input 
                    type="text"
                    class="form-control base-input" 
                    placeholder="Nome da Equipe"  
                    name="name" 
                    id="name"
                    value="name"
                    ng-model="$ctrl.team.name" 
                    required
                    />
                </div>
                <div class="form-input">
                    <input 
                    type="text"
                    class="form-control base-input" 
                    placeholder="imgUrl da Equipe"  
                    name="imgUrl" 
                    id="imgUrl"
                    value="imgUrl"
                    ng-model="$ctrl.team.imgUrl" 
                    required
                    />
                </div>
                <div class="form-input">

                <button class="btn btn-primary" ng-click="$ctrl.updateTeam($ctrl.team)" type="submit">Atualizar</button>
                <button class="btn btn-danger" ng-click="$ctrl.returnToPageTeams()">Cancelar</button>
            </form>
        </div>
    </div>
</div>