<div class="users-container" id="dsvendas-container">
    <h2>Usuarios</h2>
    <div class="users-card">
        <div class="users-content-container">
            <table class="dsvendas-users-table table">
                <thead>
                    {{vm.message}}
                </thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Role
                    </th>
                </tr>
                <tr ng-repeat="user in vm.users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.roles}}</td>
                    <td>
                        <button href="#" class="btn btn-warning" ng-click="vm.SelectUser(user)">
                            Selecionar
                        </button>
                        
                    </td>
                </tr>
            </table>
                <div class="formulario">
                    <div class="form">
                        <label for="">Nome Vendedor</label>
                        <input type="text" ng-model="vm.user.name" placeholder="Nome usuario">
                    </div>
                    <div class="form">
                        <label for="">Email</label>
                        <input type="text" ng-model="vm.user.email" placeholder="Email">
                    </div>

                    <div class="form">
                        <label for="">Password</label>
                        <input type="password" ng-model="vm.user.password" placeholder="password">
                    </div>
                    <div>
                        <label for="">Roles</label>
                        <select name="" id="" ng-repeat="role in vm.user.roles[role]">

                        </select>
                    </div>
                    
                    
                </div>
                <div>
                    <button href="#" class="btn btn-success" ng-click="vm.InsertUser(user)">
                        Nova Venda
                    </button>
                    <button href="#" class="btn btn-primary" ng-click="vm.UpdateUser(user)">
                        Atualizar
                    </button>
                    <button href="#" class="btn btn-danger" >
                        Apagar
                    </button>
                </div>
        </div>
    </div>
</div>