.users-container h2 {
    margin: 20px 30px;
}

.users-card {
    background-color: #FFF;
    margin:30px;
    padding: 30px;
    border-radius: 10px;
}

.formulario {
    display: flex;
    flex-direction: row;
    width: 600px;
    align-items: center;
    
}

label {
    justify-content: right;
}

input {
    margin-bottom: 15px;
    margin-right: 8px;
}
