<md-content layout-padding="" ng-cloak="" class="datepickerdemoBasicUsage">
    <div layout-gt-xs="row">
      <div flex-gt-xs="col">
        <h4>Data inicial</h4>
        <md-datepicker ng-model="mindate" ng-change="$ctrl.setMinDate(mindate)" md-placeholder="Data inicial"></md-datepicker>
      </div>
      <div flex-gt-xs="col">
        <h4>Data final</h4>
        <md-datepicker ng-model="maxdate" ng-change="$ctrl.setMaxDate(maxdate)" md-placeholder="Data final"></md-datepicker>
      </div>
    </div>
  </md-content>