.menu-side-bar-title h1 {
    font-size: 26px;
    font-weight: bold;
}

.menu-side-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.menu-side-item span {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.menu-side-item  img{ 
    width: 50px;
    margin-left: 20px;
}

.admin-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin-container h1 {
    margin-right: 60px;
}

.md-raised {
    height: 50px;
    margin-right: 20px;
}
