<section class="admin-section">
    <div class="welcome-admin-area">
        <img class="helloImg" src="/app/assets/img/hello.png" alt="">
        <h2>Bem Vindo Maria</h2>
        <button class="btn btn-primary" ng-click="vm.logout()">Sair</button>
    </div>
    <div class="admin-container">
        <a href="#/admin/sales">
            <div class="admin-card">
                <img src="/app/assets/img/sales.png" alt="">
                <h3>Vendas</h3>
            </div>
        </a>
        <a href="#admin/teams">
            <div class="admin-card">
                <img src="/app/assets/img/teams.png" alt="">
                <h3>Equipes</h3>
            </div>
        </a>
        <a href="#admin/users">
            <div class="admin-card">
                <img src="/app/assets/img/users.png" alt="">
                <h3>Usuarios</h3>
            </div>
        </a>
    </div>
</section>
