.welcome-admin-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

.welcome-admin-area h2 {
    font-size: 20px;
}

.welcome-admin-area button{
    font-size: 12px;
    font-weight: bold;
}

.helloImg {
    width: 50px;
    height: 50px;
}

.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.admin-card img {
    width: 150px;
    height: 150px;
    margin: 15px;
}


@media (min-width: 576px) {
    .welcome-admin-area h2 {
        font-size: 30px;
    }

    .welcome-admin-area button{
        font-size: 16px;
    }
    
    .helloImg {
        width: 100px;
        height: 100px;
    }
    .admin-card {
        width: 480px;
    }
}

@media (min-width: 992px) {
    .admin-container {
    flex-direction: row;
    margin-top: 160px;
    }

    .welcome-admin-area button{
        font-size: 18px;
    }

    .admin-card {
        width: 300px;
        height: 360px;
        margin-right: 30px;
    }
}

@media (min-width: 1200px) {
    .admin-card {
        width: 360px;
    }
}

@media (min-width: 1400px) {
    .admin-card {
        width: 400px;
        height: 400px;
    }
}