<div class="admin-container">
    <aside-bar></aside-bar>
    <section class="ds-container">
        <h1>Tela Products</h1>
        <div class="new-sale-container">
            <a ng-href="#/admin/categories/new"><button class="btn btn-primary">Adicionar Novo Produto</button></a>
          </div>
          <div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Preço</th>
                  <th scope="col">#</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in $ctrl.products">
                  <th scope="row" class="productList"><img src="{{product.imgUrl}}" alt=""></th>
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.price}}</td>
                  <td><a ng-href="#/admin/sales/{{sale.id}}"><img src="/app/assets/img/edit.svg" alt=""></a></td>
                  <td><img src="/app/assets/img/delete.svg" alt=""></td>
                </tr>
              </tbody>
            </table>
    </section>
  </div>