<section class="dsvendas-container" ng-controller="salesController">
  <div class="vendas-container-top-area">
    <a href="#admin/sales"><img src="/app/assets/img/return.svg" alt="return"><span>VOLTAR</span></a>
    <h1></h1>
  </div>
  <div class="sale-form-container">
    <form class="sale-form-card dsc-form">
      <h2>Dados da venda</h2>
      <div class="form-controls-container">
        <div>
          <label for="id"></label>
          <input class="form-control form-input" id="id" type="number" placeholder="id" value="id" ng-model="vm.sale.id">
        </div>
        <div>
          <label for="date"></label>
          <input class="form-control" id="date" name="date" type="text" placeholder="Data" value="date" ng-model="vm.sale.date">
        </div>
        <div>
          <label for="visited"></label>
          <input class="form-control" id="visited" name="visited" type="number" placeholder="Visitas" value="visited" ng-model="vm.sale.visited">
        </div>
        <div>
          <label for="deals"></label>
          <input class="form-control" id="deals" name="deals" type="number" placeholder="Vendas" value="deals" ng-model="vm.sale.deals">
        </div>
        <div>
          <label for="amount"></label>
          <input class="form-control" id="amount" name="amount" type="number" placeholder="Total" value="amount" ng-model="vm.sale.amount">
        </div>      
      </div>

      <div class="form-buttons">
        <button type="reset" class="btn btn-danger">Cancelar</button>
        <button type="submit" class="btn-success btn" ng-click="vm.insertSale(sale)">Salvar</button>
      </div>
    </form>
  </div>
</section>