<section class="dsvendas-container">
  <div class="vendas-container-top-area">
    <a href="#admin/sales"><img src="/app/assets/img/return.svg" alt="return"><span>VOLTAR</span></a>
    <h1></h1>
  </div>
  <div class="sale-form-container">
    <form class="sale-form-card dsc-form">
      <h2>Dados da venda</h2>
      <div class="form-controls-container">
        <div>
          <input class="form-control" type="text" placeholder="Data">
        </div>
        <div>
          <input class="form-control" type="text" placeholder="Visitas">
        </div>
        <div>
          <input class="form-control" type="text" placeholder="Vendas">
        </div>
        <div>
          <input class="form-control" type="text" placeholder="Total">
        </div>
      </div>

      <div class="form-buttons">
        <button type="reset" class="btn btn-danger">Cancelar</button>
        <button type="submit" class="btn-success btn">Salvar</button>
      </div>
    </form>
  </div>
</section>